body {
    width: 100%;
    height: 100%;
    color:#5a99e6;
    font-size:1.4em;
    font-family:Verdana, 'Arial Narrow', 'Nimbus Sans L', sans-serif;
    margin: 40px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}

#title-content {
    
}

.start-screen-button {
 	background-color: #365034;
	background-position: center 80%;
	border-style: solid;
	border-color: #2A9738;
	border-radius: 3px;
	font-size: large;
	text-align: center;
	width: 50%;
	height: 50px;
	box-shadow: 5px 5px #666;
    color:#ffffff;
}

.start-screen-button:hover, .start-screen-button:hover:active {
    background-color:#5a99e6;
}

.win-backbutton {
    color:black;
}


.pagetitle {
	font-size: 1.8em;
	font-family: Arial;
	text-align: center;
	color: #5EE57C;
	text-shadow: 4px 4px #555555;
}


