<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TitleControl</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-light.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="TitleControl.css" rel="stylesheet" />

    <script src="../../js/worldConstants.js"></script>
    <script src="../../js/Settings.js"></script>
    <script src="TitleControl.js"></script>
</head>
<body>
    <div id="title-content" class="TitleControl fragment">
        <header aria-label="Header content" role="banner">
            <button class="win-backbutton" aria-label="Back" disabled type="button"></button>
            <h1 class="win-type-ellipsis">
                <span>Pair Hockey</span>
            </h1>
        </header>

        <section aria-label="Main content" role="main">
            <img src="../../images/PucksAndBatsTitleImage.png" class=".title-img1" />
            <div class="title-grid">

                <div>
                    <button id="start-button" class="start-screen-button start-button" type="button">New Game</button>
                </div>
                <div>
                    <button id="settings-button" class="start-screen-button settings-button" type="button">Options</button>
                </div>
                <div>
                </div>
            </div>


        </section>

        <div id="appbar" data-win-control="WinJS.UI.AppBar">
            <button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id:'cmd', label:'Command', icon:'placeholder'}" type="button"></button>
        </div>
    </div>
</body>
</html>
