<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TitleControl</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-light.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="TitleControl.css" rel="stylesheet" />

    <script src="../../js/jquery-1.8.3.min.js"></script>
    <script src="../../js/worldConstants.js"></script>
    <script src="../../js/Settings.js"></script>
    <script src="../../js/window.game.options.js"></script>
    <script src="../../js/licenceManager.js"></script>
    <script src="../../js/highScoreHandler.js"></script>
    <script src="../../js/singlePlayerHandler.js"></script>
    <script src="TitleControl.js"></script>
</head>
<body>
    <div id="title-content" class="TitleControl fragment">
        <header aria-label="Header content" role="banner">
<!--            <button class="win-backbutton" aria-label="Back" disabled type="button"></button>-->
            <h1 class="win-type-ellipsis">
                <span>Pair Hockey</span>
            </h1>
        </header>

        <section aria-label="Main content" role="main">
            <img src="../../images/PucksAndBatsTitleImage.png" class=".title-img1" />
            <div class="title-grid">

                <div>
                    <button id="start-button-twoplayer" class="start-screen-button start-button" type="button">2 Player Game</button>
                </div>
                <div>
                    <button id="start-button-singleplayer" class="start-screen-button start-button" type="button">Single Player Game</button>
                </div>
                <div>
                    <button id="settings-button" class="start-screen-button settings-button" type="button">Options</button>
                </div>

                <div>
                    <table id="high-scores">
                        <thead>
                            <tr>
                                <th class="label-title">High Scores</th><th>Normal Game</th><th>Multi-Puck Game</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="label-column">Easy</td>
                                <td><span class="time">1 Second</span><span class="separator">by</span><span class="who">Glav</span></td>
                                <td class="multi-puck"><span class="time">1 Second</span><span class="separator">by</span><span class="who">Glav</span></td>
                            </tr>
                            <tr>
                                <td class="label-column">Medium</td>
                                <td><span class="time">10 Seconds</span><span class="separator">by</span><span class="who">Joe</span></td>
                                <td class="multi-puck"><span class="time">1minute, 52 Seconds</span><span class="separator">by</span><span class="who">Glav</span></td>
                            </tr>
                            <tr>
                                <td class="label-column">Hard</td>
                                <td><span class="time">10 Seconds</span><span class="separator">by</span><span class="who">Glav</span></td>
                                <td class="multi-puck"><span class="time">4 Seconds</span><span class="separator">by</span><span class="who">Andrew</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div>
                </div>
                <div>
                </div>

                <div>
                    <section id="licence-section">
                        <label>Licencing Information:</label>
                        <span id="licence-indicator">No licence/Unpaid (Time Limited)</span>
                    </section>
                </div>

                <div>
                    <button id="reset-high-scores" class="small-button">Reset Your Local High Scores</button>
                </div>

                <div>
                </div>
            </div>



        </section>

        <div id="appbar" data-win-control="WinJS.UI.AppBar">
            <button data-win-control="WinJS.UI.AppBarCommand" data-win-options="{id:'cmd', label:'Command', icon:'placeholder'}" type="button"></button>
        </div>
    </div>
</body>
</html>
