<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Options</title>

    <!-- WinJS references -->
   <!--<link href="//Microsoft.WinJS.1.0/css/ui-light.css" rel="stylesheet" />-->
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="OptionsSettings.css" rel="stylesheet" />

    <script src="../../js/worldConstants.js"></script>
    <script src="../../js/Settings.js"></script>
    <script src="OptionsSettings.js"></script>

</head>
<body>
    <div class="OptionsSettings fragment">
        <header aria-label="Header content" role="banner">
            <button class="win-backbutton" aria-label="Back" type="button"></button>
            <h1 class="titlearea win-type-ellipsis">
                <span class="win-title">Options</span>
            </h1>
        </header>
        <section aria-label="Main content" id="main-content" role="main">
	        <div class="settings-grid">
		        <div>
			        <div id="option-player-allow-halfway" data-win-control="WinJS.UI.ToggleSwitch" class="settings" 
                             data-win-options="{title:'Allow Player to Cross Halfway Line?'}"
                             data-win-bind="winControl.checked: allowPlayersToCrossHalfwayLine" >
			        </div>
		        </div>
		
                <div></div>
		
                <div>
                    <span>Number of goals required to win game?</span>
		        </div>
		        <div>
			        <input id="option-goals-till-endofmatch" type="range" max="50" min="1" data-win-bind="value: numberOfGoalsThatSignalsEndOfMatch" />
		        </div>

                <div>
                    <span>Puck "bounciness" or collision power when hit by player?</span>
                </div>
                <div>
                    <input id="option-power-on-puckcollision" type="range" max="100" min="0" data-win-bind="value: powerToApplyOnPuckCollision" />
                </div>

                <div>
                    <span>Game board friction?</span>
                </div>
                <div>
                    <input id="option-board-friction" type="range" max="100" min="0" data-win-bind="value: boardFriction" />
                    <span data-win-bind="innerText: boardFriction"></span>
                </div>

                <div>
                    <span>Overall simulator "bounciness"?</span>
                </div>
                <div>
                    <input id="option-restitution" type="range" max="100" min="0" data-win-bind="value: simulatorRestitution" />
                </div>

                <div>
                </div>
                <div>
                    <button id="options-reset">Reset options to default values</button>
                </div>
	        </div>
        </section>
    </div>
</body>
</html>
