<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ScoringOptions</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-light.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="GameOptions.css" rel="stylesheet" />
    <script src="../../js/jquery-1.8.3.min.js"></script>
    <script src="window.game.ui.settings.js"></script>
    <script src="../../js/window.game.dialog.js"></script>
    <script src="../../js/highScoreHandler.js"></script>

    <script src="ScoringOptions.js"></script>
</head>
<body>
    <div class="ScoringOptions fragment">
        <div id="scoringOptionsFlyout" data-win-control="WinJS.UI.SettingsFlyout" class="win-ui-dark player-options-flyout">
            <div class="win-header">
                <button class="win-backbutton" id="scoring-flyout-panel-back" aria-label="Back" type="button"></button>
                <header aria-label="Header content" role="banner">
                    <h2 class="win-type-ellipses">
                        <span>Scoring</span>
                    </h2>
                </header>
                <section aria-label="Main content" role="main">
                        <div class="settings row-option">
                            <span>Do you want to reset your locally stored high score table?</span>
                            <button id="reset-high-scores-options">Reset High Scores</button>
                        </div>
                </section>
            </div>

        </div>
    </div>
</body>
</html>
