<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>TwoPlayerOptions</title>

    <!-- WinJS references -->
    <link href="//Microsoft.WinJS.1.0/css/ui-light.css" rel="stylesheet" />
    <script src="//Microsoft.WinJS.1.0/js/base.js"></script>
    <script src="//Microsoft.WinJS.1.0/js/ui.js"></script>

    <link href="GameOptions.css" rel="stylesheet" />
    <script src="../../js/jquery-1.8.3.min.js"></script>
    <script src="window.game.ui.settings.js"></script>
    <!--    <link href="TwoPlayerOptions.css" rel="stylesheet" />-->
    <script src="TwoPlayerOptions.js"></script>
    
</head>
<body>
    <div class="twoPlayerOptions fragment player-options">
        <div id="twoPlayerFlyout" data-win-control="WinJS.UI.SettingsFlyout" class="win-ui-dark player-options-flyout">
            <div class="win-header">
                <button class="win-backbutton" id="multi-flyout-panel-back" aria-label="Back" type="button"></button>
                <header aria-label="Header content" role="banner">
                    <h2 class="win-type-ellipses">
                        <span>Two player</span>
                    </h2>
                </header>
                <section aria-label="Main content" role="main">
                    <fieldset>
                        <div id="option-player-allow-halfway" data-win-control="WinJS.UI.ToggleSwitch" class="settings row-option"
                            data-win-options="{title:'Players can cross halfway line?'}"
                            data-win-bind="winControl.checked: settings.allowPlayersToCrossHalfwayLine">
                        </div>
                        <div class="row-option">
                            <span>Number of goals to win?</span>
                            <input id="option-goals-till-endofmatch" class="slider" type="range" max="20" min="1" data-update-label="option-goals-till-endofmatch-label" data-win-bind="value: settings.numberOfGoalsThatSignalsEndOfMatch" />
                            <span id="option-goals-till-endofmatch-label" class="range-label" data-win-bind="innerText: settings.numberOfGoalsThatSignalsEndOfMatch"></span>
                        </div>
                        <div class="row-option">
                            <span>Puck "bounciness"?</span>
                            <input id="option-power-on-puckcollision" class="slider" type="range" max="100" min="0" data-update-label="option-power-on-puckcollision-label" data-win-bind="value:settings. powerToApplyOnPuckCollision" />
                            <span id="option-power-on-puckcollision-label" class="range-label" data-win-bind="innerText: settings.powerToApplyOnPuckCollision"></span>
                        </div>
                        <div id="option-twoplayer-multipuck" data-win-control="WinJS.UI.ToggleSwitch" class="settings row-option"
                            data-win-options="{title:'Enable Multi-Puck?'}"
                            data-win-bind="winControl.checked: settings.multiPuckEnabledTwoPlayer">
                        </div>
                        <div class="row-option">
                            <span>Simulator "bounciness"?</span>
                            <input id="option-restitution" type="range" class="slider" max="100" min="0" data-update-label="option-restitution-label" data-win-bind="value: settings.simulatorRestitution" />
                            <span id="option-restitution-label" class="range-label" data-win-bind="innerText: settings.simulatorRestitution"></span>
                        </div>
                        <button id="reset-twoplayer-options">Reset To Default</button>
                    </fieldset>
                </section>
            </div>

        </div>
    </div>
</body>
</html>
