html { 
    -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
  }

#board {
    background-color: white;
    margin: 0;
    position:fixed;
    top: 0;
    left: 0;
}

#appbar {
    background-color:#a1c9fa;
}

div.player {
    position:absolute;
    width:1px;
    height:1px;
    z-index: 2;
    border-radius: 10px;
}

#player-one {
    background-color:black;
    top: 40%;
    left: 5%;
}
#player-two {
    background-color:green;
    top: 40%;
    right: 5%;
}

#hockey-puck {
    position:absolute;
    width: 1px;
    height: 1px;
    border-radius: 60px;
    background-color: green;
    top: 350px;
    left: 45%;
}

#option-play-again {
    height: 80px;
    position:absolute;
    padding: 4px 6px;
    left:36%;
    top:35px;
    display:none;
    z-index:3;
    background-color: #e0e7f1;
    box-shadow: #b3c1d1 5px 5px;
}
#option-play-again div {
    margin-left:12%;
}
#option-play-again span {
    display:block;
    color:#47a327;
    font-weight:bolder;
}

