html { 
    -ms-touch-action: none; /* Direct all pointer events to JavaScript code. */
  }

#board {
    background-color: white;
    margin: 0;
    position:fixed;
    top: 0;
    left: 0;
}

#appbar {
    background-color:#a1c9fa;
}

div.player {
    position:absolute;
    width:1px;
    height:1px;
    z-index: 2;
    border-radius: 10px;
}

#player-one {
    background-color:black;
    top: 40%;
    left: 5%;
}
#player-two {
    background-color:green;
    top: 40%;
    right: 5%;
}

#hockey-puck {
    position:absolute;
    width: 1px;
    height: 1px;
    border-radius: 60px;
    background-color: green;
    top: 350px;
    left: 45%;
}

